<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: team) do |f| %>
      <%= f.govuk_error_summary %>

      <%= h1 team.persisted? ?
        "Edit #{team.name}" :
        "Create a new team", class: "govuk-heading-l" %>

      <% unless team.persisted? %>
        <p>You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>only be part of one team</li>
          <li>invite others to your team</li>
          <li>transfer ownership of your design histories to a team</li>
        </ul>
      <% end %>

      <%= f.govuk_text_field :name,
        label: {
          class: 'govuk-label govuk-label--s'
        } %>

      <%= f.govuk_submit team.persisted? ? "Save changes" : "Create team" %>
    <% end %>
  <% end %>
<% end %>
