<% title = "Create a design history account" %>
<%= content_for :page_title, title %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l"><%= title %></h1>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autofocus: true,
        autocomplete: "email" %>

      <%= f.govuk_password_field :password, autocomplete: "new-password",
        hint: { text: "#{@minimum_password_length} characters minimum"} %>

      <%= f.govuk_password_field :password_confirmation,
        autocomplete: "new-password", label: { text: "Confirm password" } %>

      <%= f.govuk_submit "Create account", class: 'app-submit' %>
    <% end %>
  <% end %>
<% end %>

<p>
  If you already have an account you can
  <%= govuk_link_to "sign in", new_session_path(resource_name) %>.
</p>
