<h2>Sign up</h2>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autofocus: true,
        autocomplete: "email" %>

      <%= f.govuk_password_field :password, autocomplete: "new-password",
        hint: { text: "#{@minimum_password_length} characters mininum"} %>

      <%= f.govuk_password_field :password_confirmation,
        autocomplete: "new-password", label: { text: "Confirm password" } %>

      <%= f.govuk_submit "Sign up" %>
    <% end %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
