<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= f.govuk_error_summary %>

      <%= h1 "Create a design history account", class: "govuk-heading-l" %>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autofocus: true,
        autocomplete: "email" %>

      <%= f.govuk_password_field :password, autocomplete: "new-password",
        hint: { text: "#{@minimum_password_length} characters minimum"} %>

      <%= f.govuk_password_field :password_confirmation,
        autocomplete: "new-password", label: { text: "Confirm password" } %>

      <%= f.govuk_submit "Create account", class: 'app-submit' %>
    <% end %>

    <p>
      If you already have an account you can
      <%= govuk_link_to "sign in", new_session_path(resource_name) %>.
    </p>

    <%= govuk_inset_text do %>
      By creating an account you understand that we may use your email to help
      you to administer your account. Please read our
      <%= link_to "privacy notice", privacy_path %> to see how the Design
      History platform handles your information.
    <% end %>
  <% end %>
<% end %>
