<% title = "Change your password" %>
<%= content_for :page_title, title %>
<h1 class="govuk-heading-l"><%= title %></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.govuk_error_summary %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.govuk_password_field :password,
    label: { text: "New password" },
    hint: { text: "#{ @minimum_password_length } characters minimum" },
    autocomplete: "new-password",
    width: 20 %>
  <%= f.govuk_password_field :password_confirmation,
    label: { text: "Confirm your password" },
    autocomplete: "new-password",
    width: 20 %>

  <div class="actions">
    <%= f.govuk_submit "Change my password" %>
  </div>
<% end %>
