<% title = "Forgot your password?" %>
<%= content_for :page_title, title %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_for(resource, as: resource_name,
                 url: password_path(resource_name),
                 html: { method: :post },
                 data: { turbo: false }) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l"><%= title %></h1>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autofocus: true,
        autocomplete: "email" %>

      <%= f.govuk_submit "Reset password", class: 'app-button' %>
    <% end %>
  <% end %>
<% end %>
