<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    project.title => project_path(project),
    post.title => nil
  }) %>
<% end %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: [project, post]) do |f| %>
      <%= f.govuk_error_summary %>
    <% end %>
  <% end %>
<% end %>

<%= h1 page_title: post.published? ? "Edit #{post.title}" : "Draft post",
       class: "govuk-heading-xl" do %>
  <span class="govuk-caption-xl">
    <%= post.published? ? 'Published post' : 'Draft post' %>
  </span>
  <%= post.title %>
<% end %>
