<section class="app-images govuk-!-margin-top-9" id="images">
  <div class="govuk-!-display-none-print">
    <h2 class="govuk-heading-l">Images</h2>
    <% if post.images.length > 1 %>
      <ol class="govuk-list govuk-!-margin-bottom-8">
        <% post.images_at_bottom.each do |image| %>
          <li>
            <a href="#image-<%= image.id %>">
              <%= image_title(image) %>
            </a>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <% post.images_at_bottom.each do |image| %>
    <figure class="app-images__image" id="image-<%= image.id %>">
      <h3 class="govuk-heading-m">
        <%= image_title(image) %>
      </h3>
      <%= link_to image do %>
        <%= image_tag image, alt: image_alt_text_fallback(image) %>
      <% end %>
      <% if image_caption(image).present? %>
        <figcaption>
          <%= GovukMarkdown.render(image_caption(image)).html_safe %>
        </figcaption>
      <% end %>
    </figure>
  <% end %>
</section>
