<% content_for :masthead do %>
  <div class="x-govuk-masthead x-govuk-masthead--large app-masthead
              app-masthead--teal govuk-!-padding-top-7">
    <div class="govuk-width-container">
      <h1 class="govuk-!-font-size-80 app-masthead__title govuk-heading-xl
                 govuk-!-margin-bottom-7">
        Introducing design histories
      </h1>

      <%= govuk_row do %>
        <%= govuk_two_thirds do %>
          <ul class="govuk-list govuk-body-l">
            <li>Keep a design history</li>
            <li>Document and share design decisions</li>
            <li>Create a record of how designs have changed</li>
          </ul>
        <% end %>
      <% end %>

      <%= image_tag "all-screenshot.png",
        alt: "A screenshot of three design histories, side by side,
              in different styles.",
        class: 'app-holding-screenshot' %>
    </div>
  </div>
<% end %>

<div class="govuk-width-container govuk-!-margin-top-4">
  <%= govuk_row do %>
    <%= govuk_two_thirds do %>
      <h2 class="govuk-heading-l">Make your design history</h2>
      <p>What you get:</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-list--bullet">
            <li>a <b>designhistory.app</b> domain</li>
            <li>a blog tailored to sharing designs</li>
            <li>a fully hosted service</li>
            <li>public or private histories</li>
            <li>government and healthcare themes</li>
            <li>easy to use for your whole team</li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="app-waitlist-container">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Join the waitlist</h2>

        <p>
          We’ll keep you updated.<br />
          Start your design history soon.
        </p>

        <!-- Begin Mailchimp Signup Form -->
        <form
          action="https://designhistory.us14.list-manage.com/subscribe/post?u=4205a78946aa9c97068e2e3eb&amp;id=65eae8af48&amp;f_id=00828de0f0"
          method="post"
          target="_self"
        >
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="email-address-sign-up">
              Email address
            </label>
            <input
              class="govuk-input app-input--sign-up"
              id="email-address-sign-up"
              name="EMAIL"
              type="email"
              required
            />
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_4205a78946aa9c97068e2e3eb_65eae8af48"
              tabindex="-1"
              value=""
            />
          </div>
          <input
            type="submit"
            value="Join list"
            name="subscribe"
            class="govuk-button app-button govuk-!-margin-bottom-2 govuk-!-font-weight-bold"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container govuk-!-margin-top-8">
  <%= govuk_row do %>
    <%= govuk_two_thirds do %>
      <h2 class="govuk-heading-m">What a design history is</h2>

      <p>A design history is like a blog. It features posts that describe the
      development of new features, iterations of existing ones, or findings
      from user research. It will contain anything that may be useful to return
      to later.</p>

      <p>Over time, a design history becomes a record of your designs. It tells
      the story of what you designed and why.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">
        Why you should keep a design history
      </h2>

      <p>Keeping a design history makes it easy to know why a service is the
      way it is.</p>

      <p>As services age, as they’re iterated, built and rebuilt, and team
      members come and go, institutional memory fades and questions about why a
      service is the way it is become hard to answer. Context gets lost,
      research disappears, and the design becomes opaque.</p>
    <% end %>
  <% end %>
</div>
