<% content_for :masthead do %>
  <% description = capture do %>
    <p class="govuk-body-l">
      Document and share design decisions. Create a record of how your service
      has developed over time.
    </p>

    <div class="govuk-button-group govuk-!-margin-bottom-0">
      <%= govuk_start_button text: "Start now",
        href: current_user ? projects_path : new_user_registration_path %>
      <p>or</p>
      <p class="govuk-!-padding-left-3 govuk-!-margin-bottom-0">
      <%= govuk_link_to "Sign in",
        current_user ? projects_path : new_user_session_path,
        text_colour: true, class: 'govuk-!-font-weight-bold' %>
      </p>
    </div>
  <% end %>

  <% content_for(:page_title, "Keep a design history") %>
  <%= render(AppMastheadComponent.new(
    classes: 'app-masthead--large govuk-!-padding-top-4',
    title: { text: "Keep a design history" },
    description: { html: description }
  )) %>
<% end %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <h2 class="govuk-heading-m">What a design history is</h2>

    <p>A design history is like a blog. It features posts that describe the
    development of new features, iterations of existing ones, or findings from
    user research. It will contain anything that may be useful to return to
    later.</p>

    <p>Over time, a design history becomes a record of your designs. It tells
    the story of what you designed and why.</p>

    <h2 class="govuk-heading-m">Why you should keep a design history</h2>

    <p>Keeping a design history makes it easy to know why a service is the way
    it is.</p>

    <p>As services age, as they’re iterated, built and rebuilt, and team
    members come and go, institutional memory fades and questions about why a
    service is the way it is become hard to answer. Context gets lost, research
    disappears, and the design becomes opaque.</p>
  <% end %>
<% end %>
