<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: project) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <% if editing %>
          <span class="govuk-caption-l"><%= project.title %></span>
        <% end %>
        <%= title %>
      </h1>
      <%= f.govuk_text_field :title,
        label: {
          class: 'govuk-label govuk-label--s'
        },
        hint: {
          text: 'Usually your service or website name'
        } %>
      <%= f.govuk_text_field :subdomain,
        label: {
          text: 'Design history subdomain',
          class: 'govuk-label govuk-label--s'
        },
        hint: {
          text: '[your-subdomain].designhistory.app'
        }
      %>
      <%= f.govuk_text_field :description,
        label: {
          class: 'govuk-label govuk-label--s'
        }
      %>
      <%= f.govuk_text_area :related_links, rows: 4,
        label: { text: 'Related content', size: 's' },
        hint: { text: 'Use markdown for links',
                class: 'govuk-hint govuk-!-font-size-16' } %>

      <% themes = [
        OpenStruct.new(id: 'gov', name: 'UK Government'),
        OpenStruct.new(id: 'nhs', name: 'UK Healthcare'),
        OpenStruct.new(id: 'dh', name: 'Default')
      ] %>
      <%= f.govuk_collection_radio_buttons :theme,
        themes,
        :id,
        :name,
        legend: { text: 'Pick a design history style' } %>

      <%= f.govuk_submit editing ? "Save changes" : "Create design history" %>
    <% end %>
  <% end %>
<% end %>
