<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <h1 class="govuk-heading-l">Your design histories</h1>

    <% @projects.each do |project| %>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        <%= govuk_link_to project.title, project_path(project) %>
      </h2>
      <p><%= govuk_link_to "Change details", edit_project_path(project) %>
    <% end %>

    <p>
      <%= govuk_button_link_to "New design history", new_project_path %>
    </p>
  <% end %>
<% end %>
