<% title = "Sign in" %>
<%= content_for :page_title, title %>
<h1 class="govuk-heading-l"><%= title %></h1>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_for(resource, as: resource_name,
                 url: session_path(resource_name),
                 data: { turbo: false }) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_email_field :email,
        label: { text: "Email address" },
        autofocus: true,
        autocomplete: "email" %>

      <%= f.govuk_password_field :password, autocomplete: "current-password" %>

      <%= f.govuk_check_boxes_fieldset :remember_me, multiple: false,
        legend: nil do %>
        <%= f.govuk_check_box :remember_me, 1, 0,
          multiple: false,
          label: { text: "Remember me" } %>
      <% end %>

      <%= f.govuk_submit "Sign in" %>
    <% end %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
