<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: @project, method: :post,
                  url: app_confirm_password_path) do |f| %>
      <%= f.govuk_error_summary %>

      <%= h1 "This design history is private", class: "govuk-heading-l" %>

      <p>You need to enter the password to continue.</p>

      <%= f.govuk_text_field :password_confirmation,
        label: { text: "Password", size: "s" } %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  <% end %>
<% end %>
