<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    @project.title => app_posts_path,
    @post.title => nil
  }) %>
<% end %>

<% content_for :page_title, "#{@post.title} - #{@project.title}" %>

<%= govuk_row do %>
  <div class="govuk-grid-column-full">
    <header class="app-document-header">
      <h1 class="app-document-header__title govuk-heading-xl">
        <%= @post.title %>
      </h1>
    </header>

    <footer>
      <p class="app-metadata">
        <span class="govuk-visually-hidden">Posted on: </span>
        <time datetime="<%= @post.updated_at.iso8601 %>">
          <%= @post.published_at.strftime("%d %B %Y") %>
        </time>
      </p>
    </footer>
  </div>

  <%= govuk_two_thirds do %>
    <%= GovukMarkdown.render(@post.body).html_safe %>

    <%= render "shared/screenshots", post: @post if @post.ordered_images.any? %>
  <% end %>

  <%= govuk_one_third do %>
    <% if @post.related_links.present? %>
      <nav class="app-related-links" role="navigation"
           aria-labelledby="related-content">
        <h2 class="app-related-links__main-heading" id="related-content">
          Related content
        </h2>
        <%= GovukMarkdown.render(@post.related_links).html_safe %>
      </nav>
    <% end %>
  <% end %>
<% end %>
