<% content_for :breadcrumbs do %>
  <% if @post.published? %>
    <%= govuk_breadcrumbs(breadcrumbs: {
      @project.title => app_posts_path,
      @post.title => nil
    }) %>
  <% else %>
    <%= govuk_back_link(href: edit_project_post_url(
        @project, @post,
        host: Rails.application.config.admin_domain
      ),
      text: "Continue editing this draft") %>
  <% end %>
<% end %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <header class="app-document-header">
      <%= h1 page_title: "#{@post.title} - #{@project.title}",
             class: "app-document-header__title govuk-heading-xl" do %>
        <%= @post.title %>
      <% end %>
    </header>

    <aside class="app-metadata govuk-!-margin-bottom-4">
      <% if @post.published? %>
        <span class="govuk-visually-hidden">Posted on: </span>
        <time datetime="<%= @post.updated_at.iso8601 %>">
          <%= @post.published_at.strftime("%-d %B %Y") %>
        </time>
      <% else %>
        <%= govuk_tag(text: "Draft", colour: "grey") %>
      <% end %>
    </aside>
  <% end %>
<% end %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <article class="app-markdown">
      <%= GovukMarkdown.render(@post.body).html_safe %>
    </article>

    <%= render "shared/images", post: @post if @post.images_at_bottom.any? %>
    <%= render "shared/comments",
      post: @post,
      comment: @comment if @post.published? && @project.comments_enabled? %>
  <% end %>

  <%= govuk_one_third do %>
    <% if @post.related_links.present? %>
      <nav class="app-related-links" role="navigation"
           aria-labelledby="related-content">
        <h2 class="app-related-links__main-heading" id="related-content">
          Related content
        </h2>
        <%= GovukMarkdown.render(@post.related_links).html_safe %>
      </nav>
    <% end %>
  <% end %>
<% end %>
