<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: [project, post], data: {
      module: "auto-save",
      auto_save_target: "form",
      action: "change->auto-save#saveToLocalStorage
             \ submit->auto-save#clearLocalStorage" }) do |f| %>
      <%= f.govuk_text_field :title,
        label: { text: 'Title', size: 's' },
        hint: { text: 'Good titles describe the post, do not use ‘User
                research’ or ‘MVP’',
                class: 'govuk-hint govuk-!-font-size-16' } %>
      <%= f.govuk_text_field :slug,
        label: { text: 'Slug', size: 's' },
        hint: { text: 'A user-friendly URL, for example
                how-we-chose-our-service-name',
                class: 'govuk-hint govuk-!-font-size-16' } %>
      <%= f.govuk_text_area :body, rows: 20,
        label: { text: 'Post', size: 's' },
        hint: { text: 'Use markdown for links, headings and images',
                class: 'govuk-hint govuk-!-font-size-16' } %>
      <%= f.govuk_check_boxes_fieldset :published, multiple: false,
        legend: { text: 'Publish', size: 'm' } do %>
        <%= f.govuk_check_box :published, 1, 0,
          multiple: false,
          label: { text: "Published" } %>
      <% end %>
      <%= f.govuk_date_field :published_at,
        legend: { text: 'Published date' } %>

      <%= f.govuk_submit "Save", class: 'app-button' %>
    <% end %>
  <% end %>

  <% if post.id.present? %>
    <%= govuk_one_third do %>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Images
      </h2>

      <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-2">
        Shown at the bottom of a post
      </p>

      <%= turbo_frame_tag "images" do %>
        <div class="app-upload">
          <div class="app-upload__attachments">
            <% post.ordered_images.each do |image| %>
              <div class="app-upload__attachment">
                <%= image_tag image,
                  class: 'govuk-!-margin-bottom-2',
                  style: 'max-width: 100%; border: 1px solid #000' %>

                <div class="app-upload__attachment-buttons govuk-button-group">
                  <% unless post.first_image?(image) %>
                    <%= button_to up_project_post_image_path(@project, post, image),
                      class: 'govuk-button govuk-button--secondary
                              govuk-!-font-weight-bold' do %>
                      ↑ <span class="govuk-visually-hidden">
                        Move up image <%= image.id %></span>
                    <% end %>
                  <% end %>

                  <% unless post.last_image?(image) %>
                    <%= button_to down_project_post_image_path(@project, post, image),
                      class: 'govuk-button govuk-button--secondary
                              govuk-!-font-weight-bold' do %>
                      ↓ <span class="govuk-visually-hidden">
                        Move down image <%= image.id %></span>
                    <% end %>
                  <% end %>

                  <%= button_to project_post_image_path(@project, post, image),
                    method: :delete,
                    class: 'govuk-button govuk-button--secondary
                            govuk-!-font-weight-bold' do %>
                    × <span class="govuk-visually-hidden">
                      Delete image <%= image.id %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <%= form_with(model: post,
                        url: project_post_images_path(@project, post),
                        method: :post) do |f| %>
            <%= f.label :images, "Add more images",
              class: 'govuk-label govuk-label--s govuk-!-margin-top-2
                      govuk-!-margin-bottom-2' %>
            <%= f.file_field :images,
              multiple: true, accept: 'image/png,image/jpeg,image/gif' %>

            <%= f.govuk_submit "Save images",
              class: 'app-button govuk-!-margin-top-4' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
