<%= form_with(model: [project, post], data: {
  module: "auto-save",
  auto_save_target: "form",
  action: "change->auto-save#saveToLocalStorage
         \ submit->auto-save#clearLocalStorage" }) do |f| %>
  <%= govuk_row do %>
    <%= govuk_two_thirds do %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :title,
        label: { text: 'Title', size: 's' },
        hint: { text: 'Good titles describe the post, do not use ‘User
                research’ or ‘MVP’',
                class: 'govuk-hint govuk-!-font-size-16' } %>
      <%= f.govuk_text_field :slug,
        label: { text: 'Slug', size: 's' },
        hint: { text: '[Coming soon] A user-friendly URL, for example
                how-we-chose-our-service-name',
                class: 'govuk-hint govuk-!-font-size-16' } %>
      <%= f.govuk_text_area :body, rows: 20,
        label: { text: 'Post', size: 's' },
        hint: { text: 'Use markdown for links, headings and images',
                class: 'govuk-hint govuk-!-font-size-16' } %>
      <%= f.govuk_check_boxes_fieldset :published, multiple: false,
        legend: { text: 'Publish', size: 'm' } do %>
        <%= f.govuk_check_box :published, 1, 0,
          multiple: false,
          label: { text: "Published" } %>
      <% end %>
      <%= f.govuk_date_field :published_at,
        legend: { text: 'Published date' } %>
    <% end %>

    <%= govuk_one_third do %>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Images
      </h2>

      <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-2">
        Shown at the bottom of a post
      </p>

      <div class="app-upload">
        <% post.images.each do |image| %>
          <%= image_tag image,
            class: 'govuk-!-margin-bottom-2',
            style: 'max-width: 100%; border: 1px solid #000' %>
        <% end %>

        <%= f.label :images, "Add more images",
          class: 'govuk-label govuk-label--s govuk-!-margin-top-2
                  govuk-!-margin-bottom-2' %>
        <%= f.file_field :images,
          multiple: true, accept: 'image/png,image/jpeg,image/gif' %>

        <%= f.govuk_submit "Save images",
          class: 'app-button govuk-!-margin-top-4' %>
      </div>
    <% end %>

  <% end %>
  <%= f.govuk_submit "Save", class: 'app-button' %>
<% end %>
