<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => project_path(@project),
    @post.title => nil
  }) %>
<% end %>

<% title = "Editing post" %>
<%= content_for :page_title, title %>
<h1 class="govuk-heading-xl"><%= title %></h1>

<div class="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab"
        href="<%= edit_project_post_path(@project, @post) %>">
        Write
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel">
    <%= render "form", project: @project, post: @post %>
  </div>
</div>

<div>
  <%= govuk_link_to "Show this post", [@project, @post] %> |
  <%= govuk_link_to "Back to posts", project_posts_path(@project) %>
</div>
