<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => project_path(@project),
    "#{@post.title.blank? ? "Edit post" : @post.title}" => nil
  }) %>
<% end %>

<% title = "Editing post" %>
<%= content_for :page_title, title %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: [@project, @post]) do |f| %>
      <%= f.govuk_error_summary %>
    <% end %>
  <% end %>
<% end %>

<h1 class="govuk-heading-xl"><%= title %></h1>

<div class="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab"
        href="<%= edit_project_post_path(@project, @post) %>">
        Write
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab"
        href="<%= project_post_images_path(@project, @post) %>">
        Screenshots
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel">
    <%= render "form", project: @project, post: @post %>
  </div>
</div>
