<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => nil
  }) %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-8"><%= @project.title %></h1>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title govuk-!-font-weight-bold govuk-!-font-size-24">
      Design history
    </h2>

    <div class="app-summary-card__actions">
      <%= govuk_link_to "Change details", edit_project_path(@project) %>
    </div>
  </header>

  <div class="app-summary-card__body">
    <%= govuk_summary_list do |summary_list|
      summary_list.row do |row|
        row.key { 'Name' }
        row.value { @project.title }
      end

      summary_list.row do |row|
        row.key { 'Domain' }
        row.value { govuk_link_to humanize_design_history_link(@project),
                    design_history_link(@project) }
      end

      summary_list.row do |row|
        row.key { 'Style' }
        row.value { humanize_theme(@project.theme) }
      end

      summary_list.row do |row|
        row.key { 'Visibility' }
        row.value { @project.private? ? "Private" : "Public" }
        row.action(text: "Manage access",
                   href: project_manage_access_path(@project))
      end
    end %>
  </div>
</section>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title govuk-!-font-weight-bold govuk-!-font-size-24">
      Posts
    </h2>

    <div class="app-summary-card__actions">
      <%= govuk_link_to "New post", new_project_post_path(@project) %>
    </div>
  </header>

  <div class="app-summary-card__body">
    <%= govuk_table do |table|
      table.head do |head|
        head.row do |row|
          row.cell(text: 'Title', header: true)
          row.cell(text: 'Status', header: true)
          row.cell(text: 'Date', header: true)
          row.cell(text: 'Action', header: true)
        end
      end

      table.body do |body|
        @posts.each do |post|
          body.row do |row|
            row.cell { govuk_link_to post.title,
                       edit_project_post_path(@project, post) }
            row.cell { if post.published?
                       then govuk_tag(text: 'Published', colour: 'turquoise')
                       else govuk_tag(text: 'Draft', colour: 'grey')
                       end }
            if post.published?
              row.cell do %>
                <time datetime="<%= post.published_at.iso8601 %>">
                  <%= post.published_at.strftime("%d %B %Y") %></time>
              <% end
              row.cell { govuk_link_to app_post_url(post.to_param,
                                      host: Rails.application.config.app_domain,
                                      subdomain: @project.subdomain) do %>
                  View published post <span class="govuk-visually-hidden">
                    - <%= post.to_param %></span>
              <% end }
            else
              row.cell { '' }
              row.cell { '' }
            end
          end
        end
      end
    end %>
  </div>
</section>
