<% content_for :masthead do %>
  <%= render(XGovukMastheadComponent.new(
    title: { text: 'Apply for a Juggling licence' },
    description: { text: 'A placeholder service that does not exist, but is commonly used in prototypes' }
  )) %>
<% end %>

<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds-from-desktop">
    <ol class="app-document-list app-document-list--large">
      <% @posts.each do |post| %>
        <li class="app-document-list__item">
          <%= link_to post do %>
            <h2 class="app-document-list__item-title"><%= post.title %></h2>
          <% end %>
          <ul class="app-document-list__item-metadata">
            <li class="app-document-list__attribute">
              <time
                class="app-document-list__attribute"
                datetime="<%= post.updated_at.iso8601 %>">
                <%= post.updated_at.strftime("%d %B %Y") %></time>
            </li>
          </ul>
        </li>
      <% end %>
    </ol>
  </section>
</div>

<%= link_to "New post", new_post_path %>
