<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => nil
  }) %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-3"><%= @project.title %></h1>
<p class="govuk-!-margin-bottom-6">
  <%= govuk_link_to design_history_link(@project), design_history_link(@project) %>
  –
  <%= govuk_link_to "Change details", edit_project_path(@project) %>
  –
  <%= govuk_link_to "Manage access", project_manage_access_path(@project) %>
</p>

<%= govuk_button_link_to "New post", new_project_post_path(@project),
  class: 'app-button' %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <% unless @drafts.empty? %>
      <h2 class="govuk-heading-m">Drafts</h2>
      <ol class="govuk-list">
        <% @drafts.each do |post| %>
          <li>
            <%= govuk_link_to edit_project_post_path(@project, post) do %>
              <%= post.title %>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>

    <% unless @posts.empty? %>
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Published</h2>
      <ol class="govuk-list">
        <% @posts.each do |post| %>
          <li>
            <time
              datetime="<%= post.updated_at.iso8601 %>">
              <%= post.published_at.strftime("%d %B %Y") %></time>
            <br />
            <%= govuk_link_to edit_project_post_path(@project, post) do %>
              <%= post.title %>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
<% end %>
