<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => nil
  }) %>
<% end %>

<%= h1 @project.title, class: "govuk-heading-xl govuk-!-margin-bottom-8" %>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title govuk-!-font-weight-bold govuk-!-font-size-24">
      Design history
    </h2>

    <div class="app-summary-card__actions">
      <%= govuk_link_to "Change details", edit_project_path(@project) %>
    </div>
  </header>

  <div class="app-summary-card__body">
    <%= govuk_summary_list do |summary_list|
      summary_list.with_row do |row|
        row.with_key { 'Name' }
        row.with_value { @project.title }
      end

      summary_list.with_row do |row|
        row.with_key { 'Description' }
        row.with_value { @project.description }
      end

      summary_list.with_row do |row|
        row.with_key { 'Domain' }
        row.with_value { govuk_link_to humanize_design_history_link(@project),
                    design_history_link(@project) }
      end

      summary_list.with_row do |row|
        row.with_key { 'Style' }
        row.with_value { humanize_theme(@project.theme) }
      end

      summary_list.with_row do |row|
        row.with_key { 'Visibility' }
        row.with_value { @project.private? ? "Private" : "Public" }
        row.with_action(text: "Manage access",
                   href: project_manage_access_path(@project))
      end
    end %>
  </div>
</section>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title govuk-!-font-weight-bold govuk-!-font-size-24">
      Posts
    </h2>
  </header>

  <div class="app-summary-card__body">
    <%= govuk_button_link_to "New post", new_project_post_path(@project) %>

    <% if @posts.any? %>
      <%= govuk_table do |table|
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: 'Title', header: true)
            row.with_cell(text: 'Status', header: true)
            row.with_cell(text: 'Date', header: true)
            row.with_cell(text: 'Action', header: true)
          end
        end

        table.with_body do |body|
          @posts.each do |post|
            body.with_row do |row|
              row.with_cell { govuk_link_to post.title,
                         edit_project_post_path(@project, post) }
              row.with_cell { if post.published?
                         then govuk_tag(text: 'Published', colour: 'turquoise')
                         else govuk_tag(text: 'Draft', colour: 'grey')
                         end }
              if post.published?
                row.with_cell do %>
                  <time
                    class="app-!-no-wrap"
                    datetime="<%= post.published_at.iso8601 %>"
                  >
                    <%= post.published_at.strftime("%-d %b %Y") %>
                  </time>
                <% end
                row.with_cell { govuk_link_to app_post_url(post.to_param,
                                        host: Rails.application.config.app_domain,
                                        subdomain: @project.subdomain), {
                                          class: 'app-!-no-wrap',
                                        } do %>
                    View post <span class="govuk-visually-hidden">
                      - <%= post.to_param %></span>
                <% end }
              else
                row.with_cell { '' }
                row.with_cell { '' }
              end
            end
          end
        end
      end %>
    <% else %>
      <p class="govuk-!-margin-bottom-1">You haven’t added any posts.</p>
    <% end %>
  </div>
</section>
