<% content_for :masthead do %>
  <%= render(XGovukMastheadComponent.new(
    title: { text: @project.title },
    description: { text: @project.description }
  )) %>
<% end %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds-from-desktop">
    <ol class="app-document-list app-document-list--large">
      <% @posts.each do |post| %>
        <li class="app-document-list__item">
          <% unless post.published? %>
            <%= govuk_tag(classes: 'app-document-list__tag',
                          text: 'Draft', colour: 'grey') %>
          <% end %>
          <%= link_to [@project, post] do %>
            <h2 class="app-document-list__item-title">
              <%= post.title %>
            </h2>
          <% end %>
          <ul class="app-document-list__item-metadata">
            <li class="app-document-list__attribute">
              <time
                class="app-document-list__attribute"
                datetime="<%= post.updated_at.iso8601 %>">
                <%= post.published_at.strftime("%d %B %Y") %></time>
            </li>
          </ul>
        </li>
      <% end %>
    </ol>
  </section>
</div>

<%= link_to "New post", new_project_post_path(@project) %>
