<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => project_path(@project)
  }) %>
<% end %>

<%= form_with(model: [@project, @post]) do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 "New post", class: "govuk-heading-xl" %>

  <%= f.govuk_text_field :title,
    label: { text: 'Title', size: 'm' },
    hint: { text: 'Good titles describe the post, do not use ‘User
            research’ or ‘MVP’' } %>

  <%= f.govuk_submit "Save" %>
<% end %>

<div>
  <%= govuk_link_to "Back to posts", project_posts_path(@project) %>
</div>
