<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => project_path(@project)
  }) %>
<% end %>

<%= govuk_row do %>
  <%= govuk_two_thirds do %>
    <%= form_with(model: [@project, @post]) do |f| %>
      <%= f.govuk_error_summary %>
    <% end %>

    <% title = "New post" %>
    <%= content_for :page_title, title %>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= form_with(model: [@project, @post]) do |f| %>
      <%= f.govuk_text_field :title,
        label: { text: 'Title', size: 'm' },
        hint: { text: 'Good titles describe the post, do not use ‘User
                research’ or ‘MVP’' } %>

      <%= f.govuk_submit "Save" %>
    <% end %>
  <% end %>
<% end %>

<div>
  <%= govuk_link_to "Back to posts", project_posts_path(@project) %>
</div>
