<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => project_path(@project)
  }) %>
<% end %>

<% title = "New post" %>
<%= content_for :page_title, title %>
<h1 class="govuk-heading-xl"><%= title %></h1>

<%= render "form", project: @project, post: @post %>

<div>
  <%= link_to "Back to posts", project_posts_path(@project) %>
</div>
