<p style="color: green"><%= notice %></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <header class="app-document-header">
      <h1 class="app-document-header__title govuk-heading-xl">
        <%= @post.title %>
      </h1>
    </header>

    <footer>
      <p class="app-metadata">
        <span class="govuk-visually-hidden">Posted on: </span>
        <time datetime="<%= @post.updated_at.iso8601 %>">
          <%= @post.updated_at.strftime("%d %B %Y") %>
        </time>
      </p>
    </footer>
  </div>

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= GovukMarkdown.render(@post.body).html_safe %>
  </div>
</div>
