<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    @project.title => project_path(@project),
    @post.title => nil }) %>
<% end %>

<%= govuk_row do %>
  <div class="govuk-grid-column-full">
    <header class="app-document-header">
      <h1 class="app-document-header__title govuk-heading-xl">
        <%= @post.title %>
      </h1>
    </header>

    <footer>
      <p class="app-metadata">
        <span class="govuk-visually-hidden">Posted on: </span>
        <time datetime="<%= @post.updated_at.iso8601 %>">
          <%= @post.published_at.strftime("%d %B %Y") %>
        </time>
      </p>
    </footer>
  </div>

  <%= govuk_two_thirds do %>
    <%= GovukMarkdown.render(@post.body).html_safe %>

    <% @post.images.each do |image| %>
      <%= image_tag image,
        style: 'max-width: 100%; outline: 1px solid rgba(177, 180, 182, 0.5' %>
    <% end %>
  <% end %>
<% end %>
