<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Your design histories" => projects_path,
    @project.title => project_path(@project),
    "Manage access" => nil
  }) %>
<% end %>

<%= form_with(model: @project,
              url: project_manage_access_path(@project)) do |f| %>
  <%= f.govuk_error_summary %>

  <%= h1 "Manage access", class: "govuk-heading-xl" %>

  <%= f.govuk_radio_buttons_fieldset(:visibility,
      legend: { size: 'm', text: 'Who can see this design history' }) do %>
    <%= f.govuk_radio_button :visibility, 'public',
      checked: @project.password.blank? || @project.visibility == 'public',
      label: { text: 'Everyone (public)' },
      link_errors: true %>
    <%= f.govuk_radio_button :visibility, 'private',
      checked: @project.password.present? || @project.visibility == 'private',
      label: { text: 'Only people with a password (private)' } do %>
      <%= f.govuk_text_field :password,
        label: { text: 'Enter a password' } %>
    <% end %>
  <% end %>

  <%= f.govuk_submit "Update visibility" %>
<% end %>

<h2>Teams</h2>

<% if @project.owner == current_user.team %>
  <p>This design history belongs to your team. Anyone can edit.</p>
<% else %>
  <p>This design history belongs to you. Only you can edit it.</p>

  <% if current_user.team.present? %>
    <p>
      You can add this design history to your team.
    </p>

    <%= govuk_button_to "Add to team",
      add_project_team_path(current_user.team, project_id: @project.id) %>
  <% else %>
    <p>
      <%= govuk_link_to "Create a team", new_team_path %>
      to allow others to collaborate with you.
    </p>
  <% end %>
<% end %>
