<header role="banner" data-module="govuk-header"
  class="govuk-header app-header
  <%= admin ? "app-header--admin" : "app-header--design-history" %>">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <% if admin || @project.nil? %>
        <a href="/" class="govuk-header__link govuk-header__link--homepage
                           govuk-!-font-weight-bold">
          <%= t("service.name") %>
        </a>
      <% else %>
        <span class="govuk-caption-m app-!-inherit-colour">
          Design History
        </span>
        <a href="/" class="govuk-header__link govuk-header__link--homepage
                           govuk-!-font-weight-bold">
          <%= @project.title %></a>
      <% end %>
    </div>

    <div class="govuk-header__content">
      <nav class="govuk-header__navigation app-header__navigation"
           aria-label="Navigation menu">
        <button
          type="button"
          class="govuk-header__menu-button govuk-js-header-toggle"
          aria-controls="navigation"
          aria-label="Show or hide navigation menu"
          hidden="">Menu</button>

        <% if admin && current_user %>
          <ul id="navigation" class="govuk-header__navigation-list">
            <% if current_user.team.present? %>
              <li class="govuk-header__navigation-item
                         app-header__navigation-item">
                <%= link_to "Your team", team_path(current_user.team),
                  class: 'govuk-header__link' %>
              </li>
            <% end %>
            <li class="govuk-header__navigation-item
                       app-header__navigation-item">
              <%= link_to "Your design histories", projects_path,
                class: 'govuk-header__link' %>
            </li>

            <li class="govuk-header__navigation-item
                       app-header__navigation-item">
              <%= current_user.email %>
            </li>
            <li class="govuk-header__navigation-item">
              <%= button_to("Sign out", destroy_user_session_path,
                            data: { turbo: false }, method: :delete,
                            class: "app-button-link") %>
            </li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>
