<!DOCTYPE html>
<html lang="en" class="app-design-history govuk-template">
  <head>
    <title><%= page_title(t('service.name')) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% theme = content_for?(:theme) ? yield(:theme) : "dh" %>
    <% if is_admin? || theme == "dh" %>
      <%= favicon_link_tag 'android-chrome-192x192.png' %>
      <%= favicon_link_tag 'android-chrome-512x512.png' %>
      <%= favicon_link_tag 'apple-touch-icon.png' %>
      <%= favicon_link_tag 'favicon-32x32.png' %>
      <%= favicon_link_tag 'favicon.ico' %>
    <% else %>
      <%= favicon_link_tag "#{theme}-android-chrome-192x192.png" %>
      <%= favicon_link_tag "#{theme}-android-chrome-512x512.png" %>
      <%= favicon_link_tag "#{theme}-apple-touch-icon.png" %>
      <%= favicon_link_tag "#{theme}-favicon-32x32.png" %>
      <%= favicon_link_tag "#{theme}-favicon.ico" %>
    <% end %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <%= stylesheet_link_tag theme, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="app-body govuk-template__body">
    <script>
      document.body.className += ' js-enabled' +
        ('noModule' in HTMLScriptElement.prototype
          ? ' govuk-frontend-supported'
          : '');
    </script>

    <%= govuk_skip_link %>

    <%= render "layouts/header", admin: is_admin? %>

    <div class="govuk-width-container">
      <div class="govuk-error-summary govuk-!-margin-top-6">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            designhistory.io is being sunsetted in October 2026
          </h2>
          <div class="govuk-error-summary__body">
            <p class="govuk-body">
              Contact <%= mail_to "theo@vararu.org", class: "govuk-link" %> for more information, or for help migrating to
              <%= link_to "x-govuk/govuk-design-history", "https://github.com/x-govuk/govuk-design-history", class: "govuk-link" %>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <%= yield :masthead %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <div class="app-footer">
      <%= render GovukComponent::FooterComponent.new do |footer|
        footer.with_meta do %>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <div class="govuk-footer__meta-custom">
            <% unless is_admin? %>
              <p class="govuk-body-s">
                <a class="govuk-footer__link"
                  href="https://www.designhistory.io/sign-in">
                  Sign in</a>
              </p>
            <% end %>
            <p class="govuk-body-s govuk-footer__licence-description">
              © 2022–<%= Time.now.year %> Built with
              <a class="govuk-footer__link"
                href="https://www.designhistory.io">
                Design history</a>.
              <a class="govuk-footer__link"
                href="https://github.com/design-history/design-history/">
                Source code on GitHub</a>.
              <%= link_to "Privacy notice", privacy_path,
                class: "govuk-footer__link" %>.
            </p>
          </div>
        </div>
      <% end; end %>
    </div>
  </body>
</html>
