<!DOCTYPE html>
<html lang="en" class="app-design-history govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if is_admin? %>
      <%= favicon_link_tag 'android-chrome-192x192.png' %>
      <%= favicon_link_tag 'android-chrome-512x512.png' %>
      <%= favicon_link_tag 'apple-touch-icon.png' %>
      <%= favicon_link_tag 'favicon-16x16.png' %>
      <%= favicon_link_tag 'favicon-32x32.png' %>
      <%= favicon_link_tag 'favicon.ico' %>
    <% end %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="app-body govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <%= render "layouts/header", admin: is_admin? %>

    <%= yield :masthead %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <div class="app-footer">
      <%= render GovukComponent::FooterComponent.new do |footer|
        footer.meta do %>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>

          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link"
                 href="https://this.designhistory.app">
                This design history</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link"
                 href="https://github.com/design-history/design-history/">
                Source code</a>
            </li>
          </ul>
        </div>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <p>© Design History 2022</p>
        </div>
      <% end; end %>
    </div>
  </body>
</html>
