<!DOCTYPE html>
<html lang="en" class="app-design-history govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% theme = content_for?(:theme) ? yield(:theme) : "dh" %>
    <% if is_admin? || theme == "dh" %>
      <%= favicon_link_tag 'android-chrome-192x192.png' %>
      <%= favicon_link_tag 'android-chrome-512x512.png' %>
      <%= favicon_link_tag 'apple-touch-icon.png' %>
      <%= favicon_link_tag 'favicon-32x32.png' %>
      <%= favicon_link_tag 'favicon.ico' %>
    <% else %>
      <%= favicon_link_tag "#{theme}-android-chrome-192x192.png" %>
      <%= favicon_link_tag "#{theme}-android-chrome-512x512.png" %>
      <%= favicon_link_tag "#{theme}-apple-touch-icon.png" %>
      <%= favicon_link_tag "#{theme}-favicon-32x32.png" %>
      <%= favicon_link_tag "#{theme}-favicon.ico" %>
    <% end %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <%= stylesheet_link_tag theme, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="app-body govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <%= render "layouts/header", admin: is_admin? %>

    <%= yield :masthead %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <div class="app-footer">
      <%= render GovukComponent::FooterComponent.new do |footer|
        footer.meta do %>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <div class="govuk-footer__meta-custom">
            <% unless is_admin? %>
              <p class="govuk-body-s">
                <a class="govuk-footer__link"
                  href="https://www.designhistory.io/sign-in">
                  Sign in</a>
              </p>
            <% end %>
            <p class="govuk-body-s govuk-footer__licence-description">
              © 2022–<%= Time.now.year %> Built with
              <a class="govuk-footer__link"
                href="https://www.designhistory.io">
                Design history</a>.
              <a class="govuk-footer__link"
                href="https://github.com/design-history/design-history/">
                Source code on GitHub</a>.
              <%= link_to "Privacy notice", privacy_path,
                class: "govuk-footer__link" %>.
            </p>
          </div>
        </div>
      <% end; end %>
    </div>
  </body>
</html>
